@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    --primary-background: #181818;
    --secondary-background: #212121;
    --primary-color: white;
    --secondary-color: #c6c5c5;
    --credit-color: #525151;
    --first-highlight-color: lightsalmon;
    --second-highlight-color: tan;
    --third-highlight-color: darkkhaki;
    --variable-font-size: 3.1vh;
    --font-family: 'Poppins', sans-serif;
    
    --main-content-padding: 6vh;
    --main-content-container-width: fit-content;
}


* {
    box-sizing: border-box;
    /*outline: 1px solid red !important;*/
}

body {
    background-color: var(--primary-background);
    margin: 0;
}

li::marker {
    color: var(--secondary-color);
}

p, input::-webkit-input-placeholder {
    font-size: var(--variable-font-size);
    font-family: var(--font-family);
    color: var(--secondary-color)
}

h1, h2 {
    color: var(--primary-color);
    font-family: var(--font-family);
}

h1 {
    font-size: calc(var(--variable-font-size) * 1.2);
}

h2 {
    font-size: var(--variable-font-size);
}


button {
    width: 17vh;
    height: 6vh;
    background-color: rgba(256, 256, 256, 0.85);
    border-radius: 1vh;
    font-family: var(--font-family);
    font-size: calc(var(--variable-font-size) * 0.8);
    transition: box-shadow 0.5s ease-out;
    border: none;
}
button:hover {
    box-shadow: 0 0 1.5vh rgba(256, 256, 256, 0.7);
    cursor: pointer;
}

.letter_input {
    width: 2.5vh;
    border: none;
    resize: none;
    outline: none;
    font-size: var(--variable-font-size);
    padding: 0;
    margin: 0;
    color: var(--primary-color);
    color: orange;
    background-color: transparent;
}

#__range_slider_container__ {
    width: 95%;
    display: grid;
    grid-template-columns: 65% 17%;
    place-content: center;
    column-gap: 1%;
    margin-top: 1vh;
}

#__range_bar_result__ {
    text-align: center;
    margin: 2vh 0;
}

#__range_bar_result__:hover {
    cursor: default;
}

#__range_bar__:hover, 
#__words__:hover, 
#__quotes__:hover, 
#__words_radio_button_label__, 
#__quotes_radio_button_label__,
#__guide_open__:hover,
select:hover {
    cursor: pointer;
}

.disabled {
    color: var(--credit-color);
    cursor: default;
}

#__quotes__:disabled {
    cursor: default;
}

#__anthology_select__ {
    width: 100%;
    padding: 0 3vh;
    text-align: center;
}

#__anthology__ {
    font-size: var(--variable-font-size);
    font-weight: 300;
    height: fit-content;
    margin-bottom: 3vh;
    color: var(--secondary-color);
    text-align: center;
}



select {
    font-size: calc(var(--variable-font-size) * 1.4);
    font-weight: bolder;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    font-family: var(--font-family);
    background-color: var(--secondary-background) rgb(256, 256, 256, .1);
    color: var(--primary-color);
}

option {
    color: var(--primary-background);
}

select:hover {
    border: 1px solid var(--primary-color);
}

.fakeSpace {
    display: none;
}

.extraSpace {
    margin: 0 0.3vh;
}

.inline_container {
    display: flex;
    flex-direction: row;
}

.radio_button_spacing {
    margin: 10px;
}

#__words_or_quotes_radio__ label p {
    margin: 0;
}

#__words_or_quotes_radio__ label {
    margin: 0 3.5vh 0 1.2vh;
}

#__computer__ {
    display: grid;
    grid-template-columns: 40% auto 20px;
}

.center-text {
    text-align: center;
}

#__extra_info__{
    padding: 0 8px 0 8px;
    margin-left: 30px;
    position: sticky;
    top: 0;
    transition: border 1s ease;
    margin-right: 10px;
    height: 100vh;
}

#__extra_info_container__, #__options__ {
    margin-top: 3vh;
}

.center-content {
    display: grid;
    place-items: center;
}

#__try_again__ {
    color: #209CEE;
    cursor: pointer;
}

#__try_again__:hover {
    text-decoration: underline;
    text-decoration-color: #209CEE;
}

#__completion_text__ {
    display: none;
}

#__main_content__ {
    padding-top: 3vh;
}

#__main_content_container__ {
    padding: var(--main-content-padding);
    background: rgb(256, 256, 256, .1);
    margin-bottom: 2vh;
    width: var(--main-content-container-width);
}

.card {
    border: 1px solid var(--secondary-background);
    background: var(--secondary-background);
    border-radius: 10px;
    padding: 1vh;
    z-index: 2;
}


#__credit_computer__ {
    position: fixed;
    bottom: 0;
    max-width: 40%;
}

.credit {
    color: var(--credit-color);
    font-size: 1.5vh;
    margin: 0;
}

#__feedback__ a {
    color: rgba(66, 128, 144, 0.7);
}
#__feedback__ a:visited {
    color: rgba(144, 66, 143, 0.7);
}





/* ------------------- CSS for underlines ------------------- */

.wordSection {
    position: relative;
}

.wordSection::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 5px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 1s;
    transition-timing-function: ease;
    transition: background 1s;
}

.opacity::after {
    opacity: 1;
}

.underline1::after {
    background: var(--first-highlight-color);
}
.underline2::after {
    background: var(--second-highlight-color);
}
.underline3::after {
    background: var(--third-highlight-color);
}
.underline4::after {
    background: linear-gradient(to right, var(--first-highlight-color) 50%, var(--second-highlight-color) 50%);
}
.underline5::after {
    background: linear-gradient(to right, var(--first-highlight-color) 50%, var(--third-highlight-color) 50%);
}
.underline6::after {
    background: linear-gradient(to right, var(--second-highlight-color) 50%, var(--third-highlight-color) 50%);
}
.underline8::after {
    background: linear-gradient(to right, var(--first-highlight-color) 34%, var(--second-highlight-color) 34% 67%, var(--third-highlight-color) 67%);
}

.red {
    color: var(--first-highlight-color);
}
.blue {
    color: var(--second-highlight-color);
}
.green {
    color: var(--third-highlight-color);
}


#__notes__ {
    transition: height 0.5s linear;
    padding-bottom: 1.5vh;
}

.noteText {
    margin: 0;
}


.noteInfoIn {
    animation: slidein 1s forwards;
}

.noteInfoOut {
    animation: slideout 1s forwards;
}

#__notes_info__ {
    margin: 0.7vh 0
}

.noteTextIn {
    animation: slidein 1s forwards;
}

.noteTextOut {
    animation: slideout 1s forwards;
}

@keyframes slidein {
    from {
        transform: scale(0);
        opacity: 0;
        max-height: 0;
        padding: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
        max-height: calc(var(--variable-font-size) * 10);
        padding: 0.5vh;
    }
}


@keyframes slideout {
    from {
        transform: scale(1);
        opacity: 1;
        max-height: 21.7vh;
        padding: 0.5vh;
    }
    to {
        transform: scale(0);
        opacity: 0;
        max-height: 0;
        padding: 0;
    }
}